.about {
  padding: 40px;
}
.about .container .info {
  padding: 20px;
}
.about .container .info h2 {
  color: teal;
  text-transform: capitalize;
  padding-top: 30px;
}

.about .container h3 {
  color: teal;
  text-transform: capitalize;
}

.about .container .parent {
  display: flex;
  align-content: center;
  justify-content: space-around;
}

.about .container .parent .aims {
  padding: 20px;
}
.about .container .parent .aims h4 {
  color: rgb(31, 31, 124);
}
