.contactUs {
  padding: 35px;
}

.contactUs .ques {
  color: teal;
}
.contactUs .form input {
  display: block;
  width: 400px;
  height: 20px;
  padding: 10px;
  margin: 5px;
  border-radius: 5%;
  outline: rgb(190, 186, 186);
}

.contactUs .form select {
  display: block;
  padding: 10px;
  margin: 10px;
}

.contactUs .form button {
  width: 150px;
  font-size: 20px;
}
