.footer {
  background-color: #2f455a;
  padding: 20px;
}

.footer .container .parent {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.footer .container .parent .sec {
  padding: 10px;
}

.footer .container .parent .form input {
  padding: 5px;
  outline: 0;
}

.footer .container .parent .form .but {
  background-color: rgb(46, 224, 224);
}

.footer .container .parent .copyRight {
  color: white;
}

.footer .container .parent .links a {
  color: white;
  display: block;
  text-decoration: none;
}
