.home .design {
  padding: 40px;
  background-image: url(../Components/222.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.home .design h2 {
  text-transform: uppercase;
  padding-top: 60px;
}

.home .text {
  text-align: center;
  padding-top: 20px;
  color: teal;
  text-transform: uppercase;
}

.home .allEvents {
  display: flex;
  align-content: center;
  justify-content: space-around;
  padding-bottom: 30px;
}

.home .events img {
  width: 200px;
  height: 200px;
  padding: 10px;
  border-radius: 20%;
}
