button {
  background-color: teal;
  padding: 12px ;
  color: white ;
  cursor: pointer;
  text-align: center;
}
.App {
   background-color: rgb(247, 247, 247);
   text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
